
body {
	margin-top: 20px;
	padding: 0;
	background: #F5E5C5 url(images/img01.jpg) repeat left top;
	font-size: 13px;
	color: #ABABAB;
}

body, th, td, input, textarea, select, option {
	/*font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;*/
	font-family: "Trebuchet MS", Arial, "Times New Roman", Times, serif;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 150%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #CDCDCD;
}

a:hover, a:active {
	text-decoration: none;
	color: #CDCDCD;
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img03.jpg) repeat-y left top;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#wrapper .top {
	background: url(images/img02.jpg) no-repeat left top;
}


/* Header */
#header {
	width: 800px;
	height: 80px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	/*background: #FFB03B; */
	background: url(images/banner.jpg) no-repeat right top;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #B64926;
}

#header h1, #header p {
	margin: 0;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#header h1 {
	color: #000000;
	font-size: 42px;
	padding-left: 35px;
}

#header p {
	padding: 0px 0 0 30px;
	font-size: 12px;
	font-weight: bold;
}

#header a {
	text-decoration: none;
	color: #CDCDCD;
}

/* Page */

#page {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 15px;
}

/* Content */

#content {
	float: right;
	width: 600px;
	margin: 0;
	padding: 25px 25px 15px 20px;
}

.post {
	padding: 0px 0 0 0;
}

.title {
	border-left: 6px solid #2E2E2E;
	padding: 0 20px 0 27px;
	font-size: 24px;
}

.title a {
	color: #000000;
}

.pagetitle {
}

.byline {
	margin: -15px 20px 0 33px;
	color: #FFFFFF;
}

.quote {
	margin: 40px 20px 0 50px;
	color: #FFFFFF;
	line-height: 150%;
}

.meta {
	text-align: left;
	color: #5C1600;
	padding: 10px 20px 10px 17px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background: #FFB03B;
	border: 3px solid #000000;
}

.meta .more {
	background: url(images/img05.jpg) no-repeat left 50%;
	padding-left: 10px;
}

.meta .comments {
	background: url(images/img05.jpg) no-repeat left 50%;
	padding-left: 10px;
}

.meta a {
	color: #000000;
}

.navigation {
}

.alignleft {
	float: left;
}

.tight {
	line-height: 175%;
}

.alignright {
	float: right;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.posts li {
}

.posts h3 {
	margin: 0;
	font-weight: bold;
}

.posts p {
	margin: 0;
	line-height: normal;
}

.posts a {
}

.entry {
	margin: 0;
	padding-left: 35px;
	color: #FFFFFF;
}

.last {
	border: none;
}

.columnL {
  float: left;
  width: 25%;
}

.columnR {
  float: left;
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.alert
{
	padding: 10px 10px 10px 10px;
	margin:5px 5px 0 5px;
	background:#FFB03B;
	color: #a5361e;
	border: 2px solid #000000;
	font-weight: bold;
}

.labeledImage
{
	float:right;
	padding: 10px 10px 10px 10px;
	margin:5px 5px 0 5px;
	background:#FFB03B;
	color: #000000;
	text-align: center;
	border: 2px solid #000000;
    width:50%;
}

.labeledImage img {
	border: 1px solid #000000;
	width:100%;
}

.labeledImageLeft
{
	float:left;
	padding: 10px 10px 10px 10px;
	margin:5px 5px 0 5px;
	background:#FFB03B;
	color: #000000;
	text-align: center;
	border: 2px solid #000000;
}

.labeledImageLeft img {
	border: 1px solid #000000;
	width:100%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 150px;
	margin-bottom: 10px;
	padding: 40px 0 0 0px;
	color: #5C1600;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sidebar li li {
	margin: 0 0 0 30px;
	padding: 0 0 0 10px;
	background: url(images/img05.jpg) no-repeat left 50%;
	line-height: 25px;
}

#sidebar h2 {
	width: 150px;
	height: 54px;
	margin: 0;
	padding: 10px 0 0 10px;
	font-size: 18px;
	background: url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}

#sidebar a {
	color: #000000;
}

#sidebar a:hover {
	text-decoration: none;
}

#sidebar .active {
	font-weight: bold;
}

/* Footer */

#footer {
	width: 800px;
	height: 60px;
	min-height: 60px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #B64926;
}

#footer p {
	padding: 20px 0;
}

#footer p a {
	color: #5C1600;
}

/* Modernized layout overrides for Hugo */

/* Keep the classic width but allow it to flex a bit on smaller screens */
#wrapper, #header, #page, #footer {
	width: min(960px, 95vw);
}

#page {
	display: grid;
	grid-template-columns: 190px 1fr;
	column-gap: 10px;
}

#sidebar {
	float: none;
	width: auto;
	max-width: 190px;
	padding: 40px 10px 0 10px;
}

#sidebar h2 {
	width: auto;
}

#sidebar li li {
	margin-left: 0;
}

#content {
	float: none;
	width: auto;
	padding: 25px 25px 15px 10px;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 6px;
}

#header h1 {
	margin: 0;
}

#header p {
	margin: 0 0 8px 0;
	padding-left: 35px;
}

@media (max-width: 900px) {
	#page {
		grid-template-columns: 1fr;
	}

	#sidebar {
		max-width: none;
		padding: 20px 15px;
	}

	#sidebar h2 {
		width: 100%;
	}

	#content {
		padding: 15px;
	}
}
