<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dave!</title>
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>

<body>
  <div id="wrapper">
    <div class="top">
      <header id="header">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.tagline }}</p>
      </header>

      <div id="page">
        {{ partial "sidebar.html" . }}

        <main id="content" role="main">
          {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div>
  </div>

  <footer id="footer">
    <p>© {{ now.Format "2006" }} {{ .Site.Title }}</p>
  </footer>
</body>
</html>
