<aside id="sidebar">
  <ul>
    <li>
      <h2>{{ with .Title }}{{ . }}{{ else }}Navigate{{ end }}</h2>
      <ul>
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "/research/" | relURL }}">Research</a></li>
        <li><a href="{{ "/teaching/" | relURL }}">Teaching</a></li>
        <li><a href="{{ "/students/" | relURL }}">Students</a></li>
        <li><a href="{{ "/publications/" | relURL }}">Publications</a></li>
        <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>
        <li><a href="{{ "/blog/" | relURL }}">Blog</a></li>
      </ul>
    </li>
  </ul>
</aside>
