{{ define "main" }}
  <div class="profile-header">
    <div class="profile-info">
      <h1>{{ .Params.name }}</h1>
      <p class="position">{{ .Params.position }}</p>
      <p class="affiliation">
        <a href="#">{{ .Params.affiliation }}</a><br>
        {{ .Params.university }}
      </p>
    </div>

    {{ if .Params.photo }}
      <img src="{{ .Params.photo | relURL }}" alt="{{ .Params.name }}" class="profile-photo">
    {{ end }}
  </div>

  {{ with .Params.quote }}
    <div class="quote-box">
      {{ .text }}<br>
      <cite>- {{ .author }}</cite>
    </div>
  {{ end }}

  {{ range .Params.callouts }}
    <div class="callout">
      <h3>{{ .title }}</h3>
      <p>{{ .content | markdownify }}</p>
    </div>
  {{ end }}

  <div class="intro">
    {{ .Content }}
  </div>
{{ end }}
